<h1 class="mb-4 m-3">Stupid Coaching</h1>

<p class="m-3">Ask your coach anything:</p>
<form action="/answer" data-turbo="false" class="m-3">
  <input type="text" name="question" id="form">
  <input type="submit" value="Ask!" class="btn-primary">
</form>
